---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
    {{{region name="home_below_menu"}}}
    {{#and carousel carousel.slides.length}}
        {{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
    {{/and}}
    {{{region name="home_below_carousel"}}}
{{/partial}}

{{#partial "page"}}

    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}
 

<div class="gl-discover-container">
    <div class="gl-discover-wrap">
        <div class="row gl-d-nav">
            <div class="col-12">

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="men-tab" data-toggle="tab" data-target="#men" type="button" role="tab" aria-controls="men" aria-selected="true">DISCOVER MEN</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="women-tab" data-toggle="tab" data-target="#women" type="button" role="tab" aria-controls="women" aria-selected="false">DISCOVER WOMEN</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="gl-d-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="men" role="tabpanel" aria-labelledby="men-tab">
                                <div class="container">
                                    <div class="row mb-3">
                                        <div class="col-md-4 gl-d-item">
                                            <div class="gl-image" role="img">
                                                <span class="inner" style="background:url('{{cdn "assets/img/highlights/homeTabs_4.jpg"}}')"></span>
                                            </div>
                                            <div class="caption" >
                                                <a href="#">Razors</a> >
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 gl-d-item">
                                            <div class="gl-image" role="img">
                                                <span class="inner" style="background:url('{{cdn "assets/img/highlights/homeTabs_5.jpg"}}')"></span>
                                            </div>
                                            <div class="caption" >
                                                <a href="#">Blades</a> >
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 gl-d-item">
                                            <div class="gl-image" role="img">
                                                <span class="inner" style="background:url('{{cdn "assets/img/highlights/mens-electrical-reversed.jpg"}}')"></span>
                                            </div>
                                            <div class="caption" >
                                                <a href="#">Electrical</a> >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-4 gl-d-item">
                                            <div class="gl-image" role="img">
                                                <span class="inner" style="background:url('{{cdn "assets/img/highlights/homeTabs_7.jpg"}}')"></span>
                                            </div>
                                            <div class="caption white" >
                                                <a href="#">Skin & Beard Care</a> >
                                            </div>
                                        </div>
                                        <div class="col-md-4 gl-d-item">
                                            <div class="gl-image" role="img">
                                                <span class="inner" style="background:url('{{cdn "assets/img/highlights/homeTabs_8.jpg"}}')"></span>
                                            </div>
                                            <div class="caption" >
                                                <a href="#">Heated Razor</a> >
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4 gl-d-item">
                                            <div class="gl-image" role="img">
                                                <span class="inner" style="background:url('{{cdn "assets/img/highlights/homeTabs_labs.jpg"}}')"></span>
                                            </div>
                                            <div class="caption white" >
                                                <a href="#">GilletteLabs</a> >
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="women" role="tabpanel" aria-labelledby="women-tab">
                                <div class="container">
                                    <div class="row mb-3">
                                        <div class="col-md-4 gl-d-item">
                                            <div class="gl-image" role="img">
                                                <span class="inner" style="background:url('{{cdn "assets/img/highlights/womens-venus-razors.jpg"}}')"></span>
                                            </div>
                                            <div class="caption" >
                                                <a href="#">Razors</a> >
                                            </div>
                                        </div>
                                            <div class="col-md-4 gl-d-item">
                                            <div class="gl-image" role="img">
                                                <span class="inner" style="background:url('{{cdn "assets/img/highlights/womens-venus-accessories.jpg"}}')"></span>
                                            </div>
                                            <div class="caption" >
                                                <a href="#">Accessories</a> >
                                            </div>
                                        </div>
                                            <div class="col-md-4 gl-d-item">
                                            <div class="gl-image" role="img">
                                                <span class="inner" style="background:url('{{cdn "assets/img/highlights/women-braun-ketchum-183.jpg"}}')"></span>
                                            </div>
                                            <div class="caption" >
                                                <a href="#">Eelctrical</a> >
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
<div class="container gl-recycle-container">
    <div class="row gl-r-wrap ">
        <div class="col-md-2 gl-r-img">
            <img class="" src="{{cdn 'assets/img/gd-terracycle-logo.webp'}}">
        </div>
        <div class="col-10 gl-r-desc">
            <h2>Recycle your whole razor and blades</h2>
            <h4>Say no to the waste by sending us your used razors by clicking this banner.</h4>
        </div>
    </div>
</div>

<div class="container gl-seo-container">
    <div class="row">
        <div class="col-12">
            <h4>Our best blades - and a better way to buy</h4>
        </div>
        <div class="col-md-6">
            <p>No sooner had King C Gillette invented the world’s first disposable blade, he set about trying to improve it. This
                led to the first adjustable blade and the first multiblade razor.</p>
        </div>
        <div class="col-md-6">
            <p>Benefit from over 100 years of class leading innovation and quality Remember, quality blades are sharper (and stay
                sharper too!). They last longer and you use less which means each shave is saving you money.</p>
        </div>
    </div>
</div>

{{/partial}}
{{> layout/base}}
