<!-- section footer start -->

<div class="section_footer gl-footer-container">
    <div class="container">
        <div class="row">
         
            <div class="col-12 text-center">
                
                <div class="gl-footer-logo">
                    <img class="" src="{{cdn 'assets/img/gillette-logo-white.png'}}">
                </div>
                 
            </div>
        </div>

        <div class="row gl-footer-nav">
            <div class="col-md-3">
                <h5 class="header"> <a href="#">DISCOVER MEN  <span class="gl-footer-icon icon-keyboard_arrow_right float-right"></span></a>                   
                </h5>
                <ul>
                    <li>
                        <a href="#">Gillette</a>
                    </li>
                    <li>
                        <a href="#">GilletteLabs</a>
                    </li>
                    <li>
                        <a href="#">King C Gillette</a>
                    </li>
                    <li>
                        <a href="#">Braun</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="header"> <a href="#">DISCOVER WOMEN <span class="gl-footer-icon icon-keyboard_arrow_right float-right"></span></a></h5>
                <ul>
                    <li>
                        <a href="#">Venus</a>
                    </li>
                    <li>
                        <a href="#">Venus for Pubic Hair & Skin</a>
                    </li>
                 
                </ul>
            </div>
            <div class="col-md-3">
                <h5 class="header"> <a href="#">DISCOVER <span class="gl-footer-icon icon-keyboard_arrow_right float-right"></span></a></h5>
                <ul>
                    <li>
                        <a href="#">Discover Men</a>
                    </li>
                    <li>
                        <a href="#">Discover Women</a>
                    </li>
                 
                    <li>
                        <a href="#">Corporate Social Responsibility</a>
                    </li>
                 
                    <li>
                        <a href="#">Shaving tips</a>
                    </li>
                 
                </ul>
            </div> 
            <div class="col-md-3">
                <h5 class="header"> <a href="#">ABOUT <span class="gl-footer-icon icon-keyboard_arrow_right float-right"></span></a></h5>
                <ul>
                    <li>
                        <a href="#">FAQs</a>
                    </li>
                    <li>
                        <a href="#">Contact us</a>
                    </li>
                 
                    <li>
                        <a href="#">T&Cs</a>
                    </li>
                 
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Return & Refunds</a>
                    </li>
                    <li>
                        <a href="#">GilletteLabs Terms</a>
                    </li>
                 
                </ul>
            </div>
           
        </div>

        <div class="row gl-footer-search">
            <div class="col-md-3">
                <section class="footer-social">
                    <article class="footer-social--newsletter">
                        <h5>Subscribe to our newsletters</h5>
                
                        <form class="form" action="#" method="post">
                            <fieldset class="form-fieldset">
                                  <div class="form-field">
                                    <label class="form-label  " for=" ">Email Address</label>
                                    <div class="form-wrap">
                                        <input class="form-input" type="email" value=""
                                            placeholder="Enter your email">
                                        <button aria-label="send" class="send" type="submit">
                                            <span class="icon-arrow_forward"></span> </button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </article>
                 
                </section>
            </div>
            <div class="col-md-9 gl-f-r">
                <img class="" src="{{cdn 'assets/img/gd-terracycle-logo.webp'}}">
            </div>
        </div>
         
    </div>
</div>

<div class="container"> 
    <div class="row gl-footer-copyright">
        <div class="col-12">

            <p class="powered-by">
                <span> &copy; {{moment format="YYYY"}} Procter & Gamble </span>
                <span class="ml-5"> <a href="#">Gillette.com.au</a></span>
            </p>
            
        </div>
    </div>
</div>
<!-- section footer end -->