<div class="navPage-subMenu navPage-subMenu-horizontal gl-m-d-{{id}}" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list">
     
        {{#each children}}
        <li class="navPage-subMenu-item-child gl-mobile-nav-item" id="{{id}}">
            {{#if children}}
            <div class="navPage-subMenu-action navPages-action navPages-action-depth-max has-subMenu{{#if is_active}} activePage{{/if}}"
                 data-collapsible="navPages-{{id}}">
                {{name}}
                <span class="gl-toggler-icon-sub-{{id}} icon-add float-right"></span>
            </div>
            {{> components/common/navigation-dropdown}}
            {{else}}
            <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}}"
                href="{{url}}">{{name}}</a>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</div>