
{{#if children}}
    <div class="gl-mobile-nav-item navPages-action navPages-action-depth-max has-subMenu is-root{{#if is_active}} activePage{{/if}}"
        id="{{id}}"
       data-collapsible="navPages-{{id}}"
       aria-label="{{name}}"
    >
        {{name}}
        <span class="gl-toggler-icon-{{id}} icon-keyboard_arrow_down float-right"></span>
    </div>
    {{> components/common/navigation-dropdown}}
{{else}}
    <div class="navPages-action{{#if is_active}} activePage{{/if}}"
       
       aria-label="{{name}}"
    >
        {{name}}
    </div>
{{/if}}
